<div class = 'left-side'>
  <div class = 'left '>
    <a class = 'my-name' href = '/'> Emil Joswin</a>
  </div>
  <div class = 'left '> <img src="images/emil.png">
  </div>
  <div class = "left left-side-menu">
    <a href="/about">About</a><br>
    <a href="">My Aphorisms</a><br>
    <a href="">Quotes</a><br>
    <a href="">Resume</a><br>
    <a href="">Contact Info</a><br>
  </div>
</div>
