    <div class = 'right-side '>
      <div class = 'article-body'>
        <div class = 'article-heading'>
          ABOUT
        </div>
      <p>I want to build products that make a big positive impact in the world. I am interested in meeting ambitious humans both in person and via internet. I live in Bangalore, India.  </p>

      <p><h3>What I do: </h3></p>
      <p>I get paid for writing backend applications. I mostly use node.js for my job.</p>

      <p>I used to build things in the past. Recently, I've got interested in MOOCs<link>. I've found that I learn faster and better via MOOCs rather than by building things. I must admit that I got hooked by them.</p>

      <p>
        I am fascinated about AI and web. I got a fairly good introduction to AI from various MOOCs.
      </P>

      <p>
        I try to read and understand a wide variety of topics ranging from physical fitness to philosophy and mathematics. So, if you want to recommend any books/topics on anything under the sun shoot me a mail. I would seriously give it a try.
      </p>

      <p><h3>What I used to do:</h3></p>
      <p>I attended college for 4 years and have a computer science (BTech) degree.

      <p>
      	You can email me at <a href="mailto:feross@feross.org">ejoswin@gmail.com</a><br>
	You should follow me on <a href="https://twitter.com/emiljoswin"> Twitter</a>
      </p>
    </div>
    </div>
