
    <div class = 'right-side'>
      <div class = 'article-body'>
      <div class = 'article-title'>
        <a href="">Article number one</a>
        <span class = 'article-time'>
          20 Aug 2004
        </span>
      </div>
      <div class = 'article-title'>
        <a href="">Article number two</a>
        <span class = 'article-time'>
          20 Aug 2004
        </span>
      </div>
      <div class = 'article-title'>
        <a href="">Article number three</a>
        <span class = 'article-time'>
          20 Aug 2004
        </span>
      </div>
      <div class = 'article-title'>
        <a href="">Article number four</a>
        <span class = 'article-time'>
          20 Aug 2004
        </span>
      </div>
      <div class = 'article-title'>
        <a href="">Article number four</a>
        <span class = 'article-time'>
          20 Aug 2004
        </span>
      </div>
    </div>
    </div>
