body {
  background-color: #ffffff;
  margin-top:50px;
  margin-left:50px;
  font-family: Ubuntu;
  font-size: 18px;
}
div {
  //border: 1px solid black;
}
.left-side {
  position: fixed;
  float:left;
  width: 30%;
}
.my-name {
  font-family: Ubuntu;
  font-size: 38px;
  color: #000;
}

.left {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
img {
  max-width: 250px;
  max-height: auto;
}
a {
  color: #777474;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.right-side {
  float: right;
  width: 69%;
  padding-top: 3%;
  min-height: 600px; //for better alignment of left-side
}
.article-title {
  margin: 30px auto;
}

.article-time {
  margin-left: 10px;
  color: #C4C4C4;
  //color: #999;
}

.article-body {
  max-width: 558px;
}

.article-heading {
  font-family: Ubuntu;
  font-size: 28px;
  color: #998;
  border-bottom: 1px solid #998;
  margin-bottom:30px;
}



